<section class="mt-5">
    <div>
        <p class="text-white">brand</p>
    </div>
    <h1 class="text-center  my-3 font-extrabold text-2xl">All Brands</h1>

    <!-- ألجديد  -->

    <div class="product slick-list px-4 py-6">
        <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
            @for (item of BrandDetails ; track item.Brand_ID) {
            <a [routerLink]="['/brand-details', item.Brand_ID]">
                <div class="group rounded-xl shadow-md p-4 hover:shadow-lg transition-all duration-300 
      flex flex-col justify-between relative overflow-hidden">
                    <div class="p-2 bg-white shadow-md rounded-lg">
                        <img [src]="'https://sm-ecommerce.runasp.net/' + item.Brand_Image" alt="Brand Name"
                            class="w-full rounded-md">
                        <div class="flex justify-center items-center my-3 bg-green-100 p-2 rounded-md">
                            <h3 class="text-main font-bold text-xl">{{ item.Brand_Name }}</h3>
                        </div>
                    </div>
                </div>
            </a>
            }

        </div>
    </div>
</section>