<section class="bg-main-light rounded-4 shadow p-5 my-5 mx-5 ">
    <h1 class="h2 text-center fw-bold">My Wish List </h1>
    <div class="d-flex mb-4 align-items-center justify-content-between">
        <h1 class="h2 fw-bold">My Wish List </h1>
    </div>

    @for (category of wishDetails ; track category.Item_ID) {
    <div class="row mb-1 border-bottom">
        <div class="col-md-2">
            <div>
                <img [src]="category.Image_Cover" class="w-100 fw-bold" [alt]="category.Item_Name">
            </div>
        </div>
        <div class="col-md-10 d-flex align-items-center justify-content-between">
            <div>
                <h3 class="h5 fw-bold">{{category.Item_Name}}</h3>
                <p class="text-main m-0 fw-bold">price : {{category.Price_out}}</p>

                <!-- <button (click)="removeItem(category.Item_ID)" class="text-danger btn cursor-pointer p-0 fw-bold"><i
              class="fa-solid fa-trash "></i> Remove</button> -->
            </div>

            <div>
                <!-- <button type="button" class="btn-mainn w-72 ms-10 text-green-700 hover:text-white border border-green-700 
        hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium 
        rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 
        dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"
                (click)="addCart(userId, product.Data.Item_ID, 1)">
                Add To Cart +
            </button> -->
            </div>
        </div>
    </div>
    }




</section>