<app-chatbot></app-chatbot>
<section class="mx-5">
    <section>
        <div class="flex-row  ">

            <div class="flex grid-cols-2 gap-4">
                <div class="col-span-1">
                    <img src="./assets/images/div.home-contain2.png" alt="">
                </div>
                <div class="test">
                    <div class="col-span-1">
                        <img src="./assets/images/div.home-contain.png" alt="">

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="Bowse mt-10 bg-green-50 rounded-2xl shadow-lg p-5">
        <div>
            <h1 class="my-4 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 dark:text-white">
                Browse by Categories
            </h1>
            <p class="text-justify text-gray-500 dark:text-gray-400 my-4">Top Categories Of The Week</p>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-8 mt-10 gap-6 text-center my-2">
            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/vegetable.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Vegetables & Fruit</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/cup.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Beverages</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/meats.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Meats & Seafood</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/vegetable.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Breakfast</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/frozen.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Frozen Foods</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/milk.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Milk & Dairies</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/pet.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Pet Food</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/grocery.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Grocery & Staples</p>
            </div>
        </div>
    </section>



    <!-- <section class="FRUIT">
        <div>
            <h1 class="my-4 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 dark:text-white">
                FRUIT & VEGETABLES
            </h1>
            <p class="text-justify text-gray-500 dark:text-gray-400">
                A virtual assistant collects the products from your list
            </p>
        </div>
        <div class="content my-10">
            <div class="slick-list  mt-8 ">
                <div class="flex gap-10">
                    <div class=" productt grid-cols-1 md:grid-cols-2 lg:grid-cols-5 w-full bgre">
                        <img src="../../../assets/images/Link → 13.png.png">
                        <p class="p-2">Butter Croissant</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class=" w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">
                        <img src="../../../assets/images/rice.png">
                        <p class="p-2">Bambino Elbow Macaroni </p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/cheese.png">
                        <p class="p-2">Tuffets Britannia cheeza</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/yog.png">
                        <p class="p-2"> Yogurt </p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/cheese.png">
                        <p class="p-2">Tuffets Britannia cheeza</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/Link → 13.png.png">
                        <p class="p-2">Butter Croissant</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>

                </div>
                <div class="flex gap-10 my-20">
                    <div class="productt grid-cols-1 md:grid-cols-2 lg:grid-cols-5 w-full">
                        <img src="../../../assets/images/orange.png">
                        <p class="p-2">Frooti Mango Drink</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">
                        <img src="../../../assets/images/bread.png">
                        <p class="p-2">Muffets Burger Bun</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/egg.png">
                        <p class="p-2">chicken egg</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3 "><span class="text-main"> $ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/jam.png">
                        <p class="p-2">Butter Croissant</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3 "><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">

                        <img src="../../../assets/images/egg.png">
                        <p class="p-2">chicken egg</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>
                    <div class="productt col-span-1 w-full">
                        <img src="../../../assets/images/orange.png">
                        <p class="p-2">Frooti Mango Drink</p>
                        <div class="p-2">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="p-2">1 KG</p>
                        <div class="flex">
                            <p class="mt-3"><span class="text-main">$ 80.00</span></p>
                            <button type="button"
                                class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                                +</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section> -->

    <section class="BREAKFAST mt-14 mb-20  bg-green-50 rounded-2xl shadow-lg p-5 ">

        <div class="m-5">
            <h1 class=" my-4 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 dark:text-white">
                BREAKFAST & DAIRY
            </h1>

            <p class="text-justify text-gray-500 dark:text-gray-400">
                A virtual assistant collects the products from your list
            </p>

        </div>
        <div class="slick-list mt-8 ">


            <div class="gap-10 grid  grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 mb-5">
                <div [routerLink]="['/p-thumnail' ,]" class="productt pt-3">
                    <div> <img src="./assets/images/1.jpg.png" width="140px" class="m-auto">
                    </div>
                    <p class="p-2">Butter Croissant</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main mx-2">$80.00</span></p>
                        <button type="button"
                            class=" w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">
                    <img src="../../../assets/images/rice.png" class="m-auto">
                    <p class="p-2">Bambino Elbow </p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/cheese.png" class="m-auto">
                    <p class="p-2">Tuffets Britannia </p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/yog.png" class="m-auto">
                    <p class="p-2"> Yogurt </p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/cheese.png" class="m-auto">
                    <p class="p-2">Tuffets Britannia </p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/Link → 13.png.png" class="m-auto">
                    <p class="p-2">Butter Croissant</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>

            </div>


            <div class="gap-10 grid  grid-cols-1 sm:grid-cols-2 lg:grid-cols-6">
                <div class="productt pt-3">
                    <img src="../../../assets/images/Link → 13.png.png" class="m-auto">
                    <p class="p-2">Butter Croissant</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main  mx-2">$80.00</span></p>
                        <button type="button"
                            class=" w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">
                    <img src="../../../assets/images/bread.png" class="m-auto">
                    <p class="p-2">Muffets Burger Bun</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main  mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/egg.png" class="m-auto">
                    <p class="p-2">chicken egg</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3 "><span class="text-main  mx-2"> $80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/jam.png" class="m-auto">
                    <p class="p-2">Butter Croissant</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3 "><span class="text-main  mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3 ">

                    <img src="../../../assets/images/egg.png" class="m-auto">
                    <p class="p-2">chicken egg</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main  mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>
                <div class="productt pt-3">
                    <img src="../../../assets/images/orange.png" class="m-auto ">
                    <p class="p-2">Frooti Mango Drink</p>
                    <div class="p-2">
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                        <span> <i class="fa-solid fa-star rating-color"></i></span>
                    </div>
                    <p class="p-2">1 KG</p>
                    <div class="flex">
                        <p class="mt-3"><span class="text-main  mx-2">$80.00</span></p>
                        <button type="button"
                            class="w-1/2 btn-mainn ms-10 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Add
                            +</button>
                    </div>
                </div>

            </div>

        </div>




    </section>

    <section class="bg-green-50 rounded-2xl shadow-lg px-3 py-1 ">
        <div class=" my-10  grid  grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-2 ">
            <div class="top-Selling ">
                <h1 class="font-bold text-xl">Top Selling</h1>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/bread-3.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Tuffets Whole Wheat Bread</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 10.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/potato.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Potato</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 40.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/green CHilli.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Green Chilli</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 45.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/burger bn.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Muffets Burger Bun</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 70.00</span> </p>
                    </div>
                </div>
            </div>
            <div class="Trending-p col-span-1  w-full">
                <h1 class="font-bold text-xl">Trending products</h1>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/oil.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Good Life Refined Sunflower Oil</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 10.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/raw.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Good Life Raw Peanuts</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 40.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/raw pen.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Good Life Raw Peanuts</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 45.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/frooti mango.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Frooti Mango Drink</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 70.00</span> </p>
                    </div>
                </div>
            </div>
            <div class="Recently col-span-1  w-full">
                <h1 class="font-bold text-xl">Recently added</h1>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/tufet chesse.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Tuffets Britannia Cheezza</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 10.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/life milk.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Long LIfe Toned Milk</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 40.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/tomato.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Organic Tomato</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 45.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/pure honey.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Organic Pure Honey</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 70.00</span> </p>
                    </div>
                </div>
            </div>
            <div class="top-Rated col-span-1  w-full">
                <h1 class="font-bold text-xl">Top Rated</h1>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/good live.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Good Life Wainut Kernels</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 10.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/cheery.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Cherry Red Premium imported </p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 40.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/meeting.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Meetingo Premium Goat curry </p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 45.00</span> </p>
                    </div>
                </div>
                <div class="flex my-6">
                    <div class="mx-2">
                        <img src="../../../assets/images/dates.png" alt="">
                    </div>
                    <div>
                        <p class="my-1">Dates Medjoul Premium</p>
                        <div class="my-1">
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                            <span> <i class="fa-solid fa-star rating-color"></i></span>
                        </div>
                        <p class="my-1"><span class="text-main">$ 70.00</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="my-5">
        <div>
            <img src="../../../assets/images/__after.png" alt="">
        </div>
    </section>


</section>