<app-chatbot></app-chatbot>
<section class="mx-5">

    <div class="flex justify-end mb-4">
        <button (click)="showFilters = true"
            class="bg-gradient-to-r from-blue-600 to-blue-800 hover:from-blue-700 hover:to-blue-900 text-white px-6 py-2 rounded-full shadow-lg transition-all duration-300">
            <i class="fa-solid fa-sliders mr-2"></i> Filters
        </button>
    </div>

    <!-- Overlay -->
    <div *ngIf="showFilters"
        class="fixed inset-0 z-50 bg-black/50 backdrop-blur-sm flex items-center justify-center transition-opacity duration-300">
        <div class="bg-white w-full max-w-5xl mx-auto p-8 rounded-3xl shadow-2xl relative animate-fade-in">
            <button (click)="showFilters = false"
                class="absolute top-5 right-5 text-gray-500 hover:text-red-600 text-xl transition duration-200">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <h2 class="text-2xl font-bold text-gray-800 mb-6">
                <i class="fa-solid fa-filter mr-2 text-blue-600"></i> Advanced Product Filters
            </h2>

            <form [formGroup]="filterForm">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <!-- Filter Inputs -->
                    <div>
                        <label class="block text-sm text-gray-600 mb-1">Search</label>
                        <input type="text" formControlName="searchQuery"
                            class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all" />
                    </div>
                    <div>
                        <label for="countries" for="countries" class="block text-sm text-gray-600 mb-1">Category</label>
                        <select name="Category_ID" (change)="onCategoryChange($event)" formControlName="categry"
                            id="countries"
                            class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all">
                            <option value=null selected>Select Category</option>
                            @for (item of categoryList; track $index) {
                            <option value="{{ item.Category_ID }}">
                                {{ item.Category_Name }}
                            </option>

                            }

                        </select>
                        <div>
                            <label for="countries2" class="block text-sm text-gray-600 mb-1">SubCategory</label>

                            <select name="Sub_Category_ID" (change)="onSubCategoryChange($event)" id="countries2"
                                formControlName="subCategry"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value=null selected>Select Sub Category</option>
                                @for (item of subCategoryList; track $index) {
                                <option value="{{ item.Sub_Category_ID }}">
                                    {{ item.Sub_Category_Name }}
                                </option>

                                }
                                <!-- <option value="1">Smartphones</option>
      <option value="3">Tablets</option>
      <option value="2">Laptops</option>
      <option value="FR">Refrigerators</option>
      <option value="DE">Clothing for Men</option>
      <option value="7">Tvs</option>
      <option value="4">SmartWatches</option>
      <option value="19">PCs</option> -->
                            </select>
                        </div>
                        <div>
                            <label class="block text-sm text-gray-600 mb-1">Min Price</label>
                            <input type="number" formControlName="minPrice"
                                class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all" />
                        </div>
                        <div>
                            <label class="block text-sm text-gray-600 mb-1">Max Price</label>
                            <input type="number" formControlName="maxPrice"
                                class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all" />
                        </div>
                        <div>
                            <label class="block text-sm text-gray-600 mb-1">Min Rate</label>
                            <input type="number" formControlName="minRate" min="0" max="5"
                                class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all" />
                        </div>
                        <!-- Checkboxes -->
                        <div class="col-span-1 flex items-center space-x-3">
                            <input type="checkbox" formControlName="mostViewed" class="w-5 h-5 text-blue-600" />
                            <label class="text-gray-700">Most Viewed</label>
                        </div>
                        <div class="col-span-1 flex items-center space-x-3">
                            <input type="checkbox" formControlName="newwest" class="w-5 h-5 text-blue-600" />
                            <label class="text-gray-700">Newest</label>
                        </div>
                        <div class="col-span-1 flex items-center space-x-3">
                            <input type="checkbox" formControlName="mostSold" class="w-5 h-5 text-blue-600" />
                            <label class="text-gray-700">Most Sold</label>
                        </div>
                        <div>
                            <label class="block text-sm text-gray-600 mb-1">Page</label>
                            <input type="number" formControlName="pageNumber"
                                class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all" />
                        </div>
                        <div>
                            <label class="block text-sm text-gray-600 mb-1">Page Size</label>
                            <input type="number" formControlName="pageSize"
                                class="w-full px-4 py-2 rounded-xl border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all" />
                        </div>
                    </div>

                    <!-- Apply Button -->
                    <div class="mt-8 text-right">
                        <button type="button" (click)="applyFilters()"
                            class="bg-gradient-to-r from-blue-500 to-indigo-600 hover:from-blue-600 hover:to-indigo-700 text-white px-6 py-2 rounded-xl shadow-md transition hover:scale-105">
                            <i class="fa-solid fa-check mr-2"></i> Apply Filters
                        </button>
                    </div>
                </div>


            </form>
        </div>
    </div>

    <section>
        <div class="flex-row  ">

            <div class="flex grid-cols-2 gap-4">
                <div class="col-span-1">
                    <img src="./assets/images/div.home-contain2.png" alt="">
                </div>
                <div class="test">
                    <div class="col-span-1">
                        <img src="./assets/images/div.home-contain.png" alt="">

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="Bowse mt-10 bg-green-50 rounded-2xl shadow-lg p-5">
        <div>
            <h1 class="my-4 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 dark:text-white">
                Browse by Categories
            </h1>
            <p class="text-justify text-gray-500 dark:text-gray-400 my-4">Top Categories Of The Week</p>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-8 mt-10 gap-6 text-end my-2">
            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/vegetable.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Vegetables & Fruit</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/cup.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Beverages</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/meats.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Meats & Seafood</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/vegetable.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Breakfast</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/frozen.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Frozen Foods</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/milk.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Milk & Dairies</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/pet.svg fill.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Pet Food</p>
            </div>

            <div class="ghost transition-transform duration-300 hover:scale-105 bg-white p-4 rounded-xl shadow-sm">
                <img src="../../../assets/images/grocery.svg.png"
                    class="m-auto filter hover:brightness-110 transition duration-300" alt="">
                <p class="mt-2 font-medium text-gray-700 hover:text-green-600 transition">Grocery & Staples</p>
            </div>
        </div>
    </section>

    <section class="BREAKFAST mt-14 mb-20  bg-green-50 rounded-2xl shadow-lg p-5 ">

        <div class="m-5">
            <h1 class=" my-4 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 dark:text-white">
                BREAKFAST & DAIRY
            </h1>

            <p class="text-justify text-gray-500 dark:text-gray-400">
                A virtual assistant collects the products from your list
            </p>

        </div>
        <div class="product slick-list px-4 py-6">
            <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
                @for (product of productList.slice(0,20) ; track product.Data.Item_ID) {
                <div
                    class="group bg-white rounded-xl shadow-md p-4 hover:shadow-lg transition-all duration-300 flex flex-col justify-between relative overflow-hidden">


                    <!-- <div *ngIf="product.Data.Discount"
                        class="absolute top-2 left-2 bg-red-600 text-white text-xs font-bold px-2 py-1 rounded">
                        <span>sale</span>

                    
                    </div> -->

                    <!-- Badge New -->
                    <div *ngIf="isNew(product.Data.Crate_Date)"
                        class="absolute top-2 right-2 bg-blue-600 text-white text-xs font-bold px-2 py-1 rounded">
                        NEW
                    </div>

                    <!-- محتوى المنتج -->
                    <div [routerLink]="['/p-thumnail', product.Data.Item_ID]" class="cursor-pointer">

                        <img [src]="'https://sm-ecommerce.runasp.net/' + product.Data.Image_Cover"
                            alt="{{ product.Data.Category_Name }}" class="w-full h-48 object-fill rounded-lg mb-3" />

                        <p class="text-sm text-blue-700 font-semibold truncate mb-1">{{ product.Data.Item_Name }}
                        </p>
                        <p class="text-md font-bold text-gray-800">{{ product.Data.Price_out -
                            product.Data.Discount | currency: 'GBP' }}
                            <span class="line-through price-old">{{ product.Data.Price_out| currency: 'GBP' }}
                            </span>
                            <!-- <span class="line-through price-old">{{ item.Price }} EGP</span><br /> -->
                            <!-- <span class="price-new">{{ item.Price_After_Sale }} EGP</span> -->
                        </p>
                        <p class="text-sm text-green-600 font-medium">In Stock: {{ product.Data.Quantity }}</p>

                        <!-- التقييم -->
                        <div class="flex items-center mt-2 space-x-1 text-yellow-400">
                            @for (num of [1,2,3,4,5].slice(0, product.Data.Rate); track $index) {
                            <i class="fa-solid fa-star text-sm"></i>
                            }
                            @if (product.Data.Rate % 1 !== 0) {
                            <i class="fa-solid fa-star-half-stroke text-sm"></i>
                            }
                            <span class="text-gray-500 text-xs ml-1">({{ product.Data.Rate }})</span>
                        </div>
                    </div>

                    <!-- الأزرار -->
                    <div
                        class="absolute bottom-0 left-0 w-full bg-white px-4 py-3 flex justify-between items-center space-x-2 opacity-0 translate-y-full group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 rounded-b-xl border-t">
                        <button type="button"
                            class="relative flex items-center justify-center w-10 h-10 rounded-full transition-all duration-300 group hover:bg-green-600 hover:text-white"
                            (click)="addToCart(userId, product.Data.Item_ID)"
                            [disabled]="cartLoading.has(product.Data.Item_ID)" [attr.title]="cartLoading.has(product.Data.Item_ID)? 'Adding to cart...': cartIds.has(product.Data.Item_ID)? 
                                'Already in cart': 'Add to cart'"
                            [style.backgroundColor]="cartIds.has(product.Data.Item_ID) ? '#bbf7d0' : '#e5e7eb'"
                            [style.color]="cartIds.has(product.Data.Item_ID) ? '#15803d' : '#22c55e' ">

                            <!-- حالة التحميل -->
                            <i *ngIf="cartLoading.has(product.Data.Item_ID)"
                                class="fas fa-spinner fa-spin text-green-600 group-hover:text-white transition-colors duration-300"></i>

                            <!-- المنتج موجود في السلة -->
                            <i *ngIf="!cartLoading.has(product.Data.Item_ID) && cartIds.has(product.Data.Item_ID)"
                                class="fa-solid fa-cart-shopping animate-ping-once"></i>

                            <!-- المنتج مش في السلة -->
                            <i *ngIf="!cartLoading.has(product.Data.Item_ID) && !cartIds.has(product.Data.Item_ID)"
                                class="fa-solid fa-cart-plus group-hover:text-white transition-colors duration-300"></i>

                        </button>

                        <button type="button"
                            class="relative flex items-center justify-center w-10 h-10 rounded-full transition-all duration-300 group hover:bg-red-500 hover:text-white"
                            (click)="addWish(userId, product.Data.Item_ID)"
                            [disabled]="wishlistLoading.has(product.Data.Item_ID)" [attr.title]=" wishlistLoading.has(product.Data.Item_ID)  ? 'Adding...': wishlistIds.has(product.Data.Item_ID)
                                    ? 'Added to Wishlist ' : 'Add to Wishlist'"
                            [style.backgroundColor]="wishlistIds.has(product.Data.Item_ID) ? '#fee2e2' : '#e5e7eb'"
                            [style.color]=" wishlistIds.has(product.Data.Item_ID) ? '#dc2626' : '#ef4444'">

                            <!-- Spinner أثناء التحميل -->
                            <i *ngIf="wishlistLoading.has(product.Data.Item_ID)"
                                class="fas fa-spinner fa-spin text-red-500 group-hover:text-white transition-colors duration-300"></i>

                            <!-- المنتج في المفضلة -->
                            <i *ngIf="!wishlistLoading.has(product.Data.Item_ID) && wishlistIds.has(product.Data.Item_ID)"
                                class="fa-solid fa-heart text-red-600 animate-ping-once"></i>

                            <!-- المنتج مش في المفضلة -->
                            <i *ngIf="!wishlistLoading.has(product.Data.Item_ID) && !wishlistIds.has(product.Data.Item_ID)"
                                class="fa-regular fa-heart text-red-500 group-hover:text-white transition-colors duration-300"></i>

                        </button>






                    </div>
                </div>

                }
            </div>
        </div>




    </section>

    <section class="bg-green-50 rounded-2xl shadow-lg px-3 py-1">
        <!-- سلايدر عمودي موحد لكل الأقسام -->
        <div
            class="vertical-scroll-container-single grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-2 space-y-6 lg:space-y-0 lg:gap-6">

            <!-- Top Selling -->
            <div class="top-Selling">
                <h1 class="font-bold text-xl text-green-800 sticky-title text-end">Top Selling</h1>
                <div class="space-y-4 mt-4">
                    @for (product of TopSolddDetails; track product.Item_ID) {
                    <div [routerLink]="['/p-thumnail', product.Item_ID]" class="cursor-pointer" style="direction: ltr;">
                        <div class="flex my-6">
                            <div class="mx-2">
                                <img [src]="'https://sm-ecommerce.runasp.net/' + product.Image_Cover"
                                    alt="{{ product.Item_Name }}" class="w-24 h-24 object-fill rounded-lg mb-3" />
                            </div>
                            <div>
                                <p class="text-sm text-blue-700 font-semibold truncate mb-1">{{ product.Item_Name }}</p>
                                <div class="my-1">
                                    <div class="flex items-center mt-2 space-x-1 text-yellow-400">
                                        @for (num of [1, 2, 3, 4, 5].slice(0, product.Rate); track $index) {
                                        <i class="fa-solid fa-star text-sm"></i>
                                        }
                                        @if (product.Rate % 1 !== 0) {
                                        <i class="fa-solid fa-star-half-stroke text-sm"></i>
                                        }
                                        <span class="text-gray-500 text-xs ml-1">({{ product.Rate }})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <!-- Trending Products -->
            <div class="Trending-p">
                <h1 class="font-bold text-xl text-green-800 sticky-title text-end">Trending products</h1>
                <div class="space-y-4 mt-4">
                    @for (product of productList.slice(5, 11); track product.Data.Item_ID) {
                    <div [routerLink]="['/p-thumnail', product.Data.Item_ID]" class="cursor-pointer"
                        style="direction: ltr;">
                        <div class="flex my-6">
                            <div class="mx-2">
                                <img [src]="'https://sm-ecommerce.runasp.net/' + product.Data.Image_Cover"
                                    alt="{{ product.Data.Category_Name }}"
                                    class="w-24 h-24 object-fill rounded-lg mb-3" />
                            </div>
                            <div>
                                <p class="text-sm text-blue-700 font-semibold truncate mb-1">{{ product.Data.Item_Name
                                    }}</p>
                                <div class="my-1">
                                    <div class="flex items-center mt-2 space-x-1 text-yellow-400">
                                        @for (num of [1, 2, 3, 4, 5].slice(0, product.Data.Rate); track $index) {
                                        <i class="fa-solid fa-star text-sm"></i>
                                        }
                                        @if (product.Data.Rate % 1 !== 0) {
                                        <i class="fa-solid fa-star-half-stroke text-sm"></i>
                                        }
                                        <span class="text-gray-500 text-xs ml-1">({{ product.Data.Rate }})</span>
                                    </div>
                                </div>
                                <p class="text-md font-bold text-gray-800">{{ product.Data.Price_out | currency: 'GBP'
                                    }}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <!-- Most View -->
            <div class="MostView">
                <h1 class="font-bold text-xl text-green-800 sticky-title text-end">Most View</h1>
                <div class="space-y-4 mt-4">
                    @for (product of TopMostviewedDetails.slice(0, 6); track $index) {
                    <div [routerLink]="['/p-thumnail',]" class="cursor-pointer" style="direction: ltr;">
                        <div class="flex my-6">
                            <div class="mx-2">
                                <img [src]="'https://sm-ecommerce.runasp.net/' + product.Image_Cover"
                                    alt="{{ product.Item_Name }}" class="w-24 h-24 object-fill rounded-lg mb-3" />
                            </div>
                            <div>
                                <p class="text-sm text-blue-700 font-semibold truncate mb-1">{{ product.Item_Name }}</p>
                                <p class="text-md font-bold text-gray-800">{{ product.Price_out | currency: 'GBP' }}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <!-- Top Rated -->
            <div class="top-Rated">
                <h1 class="font-bold text-xl text-green-800 sticky-title text-end ">Top Rated</h1>
                <div class="space-y-4 mt-4">
                    @for (product of TopRatedDetails.slice(0, 6); track product.Item_ID) {
                    <div [routerLink]="['/p-thumnail', product.Item_ID]" class="cursor-pointer" style="direction: ltr;">
                        <div class="flex my-6">
                            <div class="mx-2">
                                <img [src]="'https://sm-ecommerce.runasp.net/' + product.Image_Cover"
                                    alt="{{ product.Item_Name }}" class="w-24 h-24 object-fill rounded-lg mb-3" />
                            </div>
                            <div>
                                <p class="text-sm text-blue-700 font-semibold truncate mb-1">{{ product.Item_Name }}</p>
                                <div class="my-1">
                                    <div class="flex items-center mt-2 space-x-1 text-yellow-400">
                                        @for (num of [1, 2, 3, 4, 5].slice(0, product.AvgRating); track $index) {
                                        <i class="fa-solid fa-star text-sm"></i>
                                        }
                                        @if (product.AvgRating % 1 !== 0) {
                                        <i class="fa-solid fa-star-half-stroke text-sm"></i>
                                        }
                                        <span class="text-gray-500 text-xs ml-1">({{ (product.AvgRating + '').slice(0,
                                            3) }})</span>
                                    </div>
                                </div>
                                <p class="text-md font-bold text-gray-800">{{ product.Price_out | currency: 'GBP' }}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>


    <section class="my-5">
        <div>
            <img src="../../../assets/images/__after.png" alt="">
        </div>
    </section>


</section>